@use '../base/variables' as *;

pre,
code,
kbd,
samp,
.expressive-code {
  font-variation-settings:
    'CASL' 0,
    'CRSV' 0,
    'MONO' 1;
}

.expressive-code {
  margin-bottom: var(#{$css-var-prefix}typography-spacing-vertical);

  details summary::after {
    display: none;
  }
}
